@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --opac: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* background-color: black; */
}
body {
  background-color: black;
  /* color: white; */
}

.left {
  width: 25vw;
  padding: 5px 0px 0px 3px;
}
.right {
  width: 75vw;
  margin: 10px 3px;
  position: relative;
}
.spotify_logo {
  display: flex;
  justify-content: space-between;
}
.spotify_logo > img {
  display: none;
}
.home > ul > li {
  list-style: none;
  width: 16px;
  display: flex;
  gap: 10px;
  padding-top: 13px;
}
.heading {
  font-weight: 700;
}

.library {
  min-height: 73vh;
  position: relative;
}
.footer {
  font-size: 11px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
}
.footer a {
  color: grey;
  text-decoration: none;
}
.footer a:hover {
  color: white;
  transition: all 0.2s ease-out;
}
.header {
  display: flex;
  padding: 8px 5px;
  justify-content: space-between;
  background-color: #171819;
  align-items: center;
}
#hamburger {
  display: none;
}
.buttons > * {
  cursor: pointer;
  font-weight: 700;
  border: none;
}
.signbtn {
  background-color: transparent;
  border: none;
  margin: 0 10px;
  color: grey;
  font-size: 13px;
}
.signbtn:hover {
  color: white;
}
.loginbtn {
  padding: 10px 25px;
  border-radius: 90px;
}
.spotifyPlaylists {
  padding: 5px 17px;
}
.cardContainer {
  padding: 9px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  max-height: 63vh;
  overflow-y: auto;
}
.card {
  width: 150px;
  padding: 7px;
  background-color: #3e3e3e;
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
}
.card:hover {
  background-color: #585757;
  --opac: 1;
}
.cover {
  position: relative;
}
.play {
  position: absolute;
  bottom: -20px;
  right: 13px;
  opacity: var(--opac);
  transition: all 0.3s;
}
/* .play:hover {
  opacity: 1;
  transition: all 2s ease-out;
  bottom: 25px;
  } */
.card img {
  width: 100%;
  object-fit: contain;
  position: relative;
}
.playbar {
  position: absolute;
  bottom: 0;
  left: 5px;
  background-color: #dad5d5;
  filter: invert(1);
  width: 65vw;
  margin: 10px 37px;
  border-radius: 17px;
  height: 52px;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  padding-bottom: 24px;
}
.sFont {
  font-size: 15px;
}
.songButtons {
  display: flex;
  gap: 7px;
}
.songList {
  overflow-y: scroll;
  height: 50vh;
  margin: 22px 0;
}
.songList ul {
  padding: 10px 15px;
}
.songList ul li {
  list-style-type: decimal;
  display: flex;
  gap: 12px;
  padding: 7px 0;
  /* border: 1px solid;
      border-radius: 5px; */
  margin: 12px 0;
  cursor: pointer;
}
.info {
  width: 220px;
  /* word-break: break-all; */ /*good but not good for tab*/
}
.timeVol {
  display: flex;
  gap: 10px;
  margin: 0 10px;
}
.volume {
  display: flex;
  gap: 5px;
  align-items: center;
}
.playNow {
  display: flex;
  align-items: center;
  gap: 7px;
}
.playNow small {
  width: 60px;
}
.seekBar {
  height: 3px;
  background-color: black;
  width: 97%;
  position: absolute;
  bottom: 7px;
  border-radius: 12px;
  right: 10px;
  cursor: pointer;
}
.circle {
  height: 11px;
  width: 11px;
  background-color: black;
  border-radius: 41px;
  position: absolute;
  bottom: -4px;
  left: -1%;
  transition: left 0.3s;
}
.songButtons img {
  cursor: pointer;
}
.aboveBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 63px;
  padding: 0 30px;
}
.songInfo {
  width: 170px;
}
/* .songTime {
  width: 150px;
} */
.songInfo,
.songTime {
  color: black;
  text-align: center;
  font-size: 15px;
}
.volume {
  cursor: pointer;
}
#volumeControl {
  cursor: pointer;
}

@media (max-width: 1268px) {
  .container {
    min-height: 100vh;
  }
  .left {
    padding: 0px;
    position: absolute;
    left: -100%;
    z-index: 1;
    transition: left 0.3s;
    width: 320px;
    background-color: rgba(
      0,
      0,
      0,
      0.8
    ); /* 0.0 = fully transparent, 1.0 = fully black */
  }
  .right {
    width: 100vw;
    margin: 0;
  }
  .playbar {
    width: 85vw;
    margin: 0 7%;
    left: 0;
    padding: 10px 0 35px 0;
    margin: 10px 50px;
    height: 5vh;
  }
  .sFont {
    font-size: 19px;
  }
  .seekBar {
    width: 93%;
  }
  #hamburger {
    display: inline-block;
  }
  .spotify_logo > img {
    display: inline-block;
  }
  .aboveBar {
    padding: 0;
  }
  .songButtons > img {
    width: 35px;
  }
  .card {
    width: 30vw;
  }
  .cardContainer {
    max-height: 75vh;
    justify-content: space-around;
    padding: 0 10px;
  }
  .library {
    min-height: 80vh;
  }
  .timeVol {
    flex-direction: column;
  }
}
@media (min-width: 26px) and (max-width: 700px) {
  .container {
    min-height: 100vh;
  }
  .left {
    padding: 0px;
    position: absolute;
    left: -100%;
    z-index: 1;
    transition: left 0.3s;
    width: 320px;
    background-color: rgba(
      0,
      0,
      0,
      0.8
    ); /* 0.0 = fully transparent, 1.0 = fully black */
  }
  .right {
    width: 100vw;
    margin: 0;
  }
  .playbar {
    width: 90vw;
    left: 0;
    padding: 10px 0 35px 0;
    margin: 10px 27px;
    height: 18vh;
  }
  .songList{
    height: 62vh;
  }
  .seekBar {
    width: 93%;
  }
  #hamburger {
    display: inline-block;
  }
  .spotify_logo > img {
    display: inline-block;
  }
  .aboveBar {
    padding: 0;
    flex-direction: column;
    gap: 14px;
  }
  .aboveBar > div.songTime,
  div.songInfo {
    width: 100%;
  }
  .songButtons > img {
    width: 25px;
  }
  .card {
    width: 28vw;
  }
  .cardContainer {
    max-height: 61vh;
    justify-content: space-evenly;
  }
  .library {
    min-height: 80vh;
  }
  .timeVol {
    flex-direction: column;
  }
}